@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");
/*     font-family: "Black Ops One", system-ui; */
@import url("https://fonts.googleapis.com/css2?family=Quantico&display=swap");
/*     font-family: "Quantico", sans-serif; */

/* CSS GENERALES DES PAGES */

h1 {
  font-family: "Black Ops One", system-ui;
  text-align: center;
  margin-top: 1rem;
  color: #4e4538;
}

p, ul, li, ol {
  font-family: "Quantico", sans-serif;
}

h2 {
  background-color: #928268;
  text-align: center;
}

h3 {
  font-family: "Black Ops One", system-ui;
  text-align: center;
  color: #5d3a1a;
}

.anim {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.btn2 {
  background-color: #726349;
  font-family: "Varela Round", sans-serif;
  padding: 0.2rem;
  font-size: 1rem;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 1px #000;
  border-radius: 5px;
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.btn2:hover {
  background-color: #d5c1a1;
}

/* NAVBAR */

.form-inline {
  background-color: #d5c1a1;
}

#search-input {
  width: 15rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  margin-right: 0.2rem;
}

#search-btn {
  margin: 0.2rem;
}

.navbar .form-inline {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}

.navbar .navbar-nav {
  flex-grow: 1; /* les éléments prennent autant d'espace possible dans la navbar */
}

.navbar {
  background-color: #928268;
}

#navbarsExample11 > ul > li > a {
  color: white;
  font-family: "Quantico", sans-serif;
}

#navbarsExample11 > ul > li.nav-item.dropdown > ul {
  background-color: #6b604e;
}

#navbarsExample11 > ul > li > ul > li > a:hover {
  background-color: #d5c1a1;
}

#navbarsExample11 > ul > li.nav-item.dropdown > ul > li > a {
  color: white;
  font-family: "Quantico", sans-serif;
}

#navbarsExample11 > a {
  font-family: "Black Ops One", system-ui;
  font-size: 2rem;
  margin-left: 1rem;
}

/* CARROUSEL ACCUEIL */

.carousel-item img {
  width: 20rem;
  display: block;
  margin: auto;
}

.carousel-text {
  font-family: "Quantico", sans-serif;
  text-align: justify;
  padding: 2rem;
}

.card-container {
  margin-bottom: 4rem;
}

body > div.container.card-container > div {
  border-radius: 20px;
  width: 60rem;
  margin: 0 auto;
  background: linear-gradient(
    0deg,
    rgba(213, 193, 161, 1) 18%,
    rgba(179, 160, 129, 1) 39%,
    rgba(146, 130, 104, 1) 73%
  );
  /* ombrage card */
  -webkit-box-shadow: 10px 15px 5px 3px #6b604e;
  -moz-box-shadow: 10px 15px 5px 3px #6b604e;
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=10, OffY=15, Color='#6eb59d', Positive='true');
  zoom: 1;
  box-shadow: 10px 15px 5px 3px #6b604e;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

/* contour carrousel */
.outer-border {
  border: 2px solid #6b604e;
  height: 99%;
  width: 98%;
  padding: 6px;
  margin: 0 auto;
}

.mid-border {
  border: 6px solid #6b604e;
  height: 100%;
  width: 100%;
  padding: 6px;
  margin: auto;
}

.inner-border {
  position: relative;
  border: 2px solid #6b604e;
  height: 100%;
  width: 100%;
  margin: auto;
}

/* SCROLLBAR PERSONNALISEE */

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(74, 168, 85, 0.3);
  background-color: rgb(136, 122, 101);
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #6b604e;
  border: 2px solid #83745d;

  background-image: -webkit-linear-gradient(
    90deg,
    transparent,
    rgba(94, 92, 92, 0.4) 70%,
    transparent,
    transparent
  );
}

/* PAGE RECHERCHE */

#search-results .result-card {
  width: 20rem;
  margin: 0 auto;
}

/* Utiliser Flexbox pour créer une grille flexible */
#search-results .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Pour que les cartes utilisent tout l'espace disponible */
#search-results .col-4 {
  flex: 1;
}

/* Si une seule carte est présente, lui donner une largeur fixe */
#search-results .row .col-4:first-child:nth-last-child(1) .result-card {
  width: 50rem;
}

/* Ajuster la taille de l'image lorsque la carte est de 50rem de large */
#search-results
  .row
  .col-4:first-child:nth-last-child(1)
  .result-card
  .card-image
  img {
  max-width: 20rem;
}

#search-results > div > div > div > h3 > div.card-image > img {
  padding: 1rem;
}

/* Centrer l'image à l'intérieur de la carte */
#search-results .result-card .card-image {
  display: flex;
  justify-content: center;
}

/* FOOTER */

.specialColor {
  color: #5d3a1a;
}

.returnHomeFooter {
  margin-top: 1rem;
  margin-left: 1rem;
  text-align: center;
  width: 8rem;
  padding: 0.3rem 0.2rem;
  font-size: 0.8rem;
  background-color: #726349;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  margin-bottom: 1rem;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

footer {
  background-color: #928268;
  color: white;
  font-family: "Quantico", sans-serif;
  text-align: center;
}

body > footer > footer > div.container > section > div > div > h6 > a {
  text-decoration: none;
}

.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  padding-left: 0;
  padding-right: 0;
}

body > footer > div > footer > div.text-center.p-3 {
  color: white;
  font-family: "Quantico", sans-serif;
}

.containerUsage {
  align-items: center;
  padding: 1rem 15rem 1rem 15rem;
  text-align: justify;
  background: linear-gradient(
    0deg,
    rgba(213, 193, 161, 1) 18%,
    rgba(179, 160, 129, 1) 39%,
    rgba(146, 130, 104, 1) 73%
  );
  width: 80rem;
  margin: 0 auto;
  margin-top: 1rem;
}


footer {
  font-family: "Quantico", sans-serif;
}

/* PAGE COURS */

.card {
  position: relative;
  width: 19rem;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  overflow: hidden;
  margin: 1.2rem;
  background: linear-gradient(
    0deg,
    rgba(213, 193, 161, 1) 18%,
    rgba(179, 160, 129, 1) 39%,
    rgba(146, 130, 104, 1) 73%
  );
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

.card-image {
  position: relative;
}

.card-image img {
  width: 100%;
  height: auto;
  border-radius: 0.3rem;
}

body > div > form > div:nth-child(4) > a {
  text-decoration: none;
  color: #83745d;
  font-family: "Quantico", sans-serif;
}

body > h2 {
  font-family: "Black Ops One", system-ui;
  margin-top: 4rem;
  margin-bottom: 4rem;
  color: #83745d;
  text-align: center;
}

body > div > form > div:nth-child(3) {
  height: 5rem;
}

.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.buttonHome2 {
  color: white;
  text-decoration: none;
  border-radius: 50px;
  display: flex;
  font-size: 1rem;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  width: 2rem;
  height: 2rem;
  align-items: center;
  padding: 0.2rem 0.5rem;
  background-color: #453929;
}

.buttonHome2:hover {
  background-color: #83745d;
}

body.page-profil {
  overflow-y: auto;
}

/* RESPONSIVE */

@media (max-width: 768px) {
  .carousel-text {
    text-align: left;
  }
  .carousel-item img {
    width: 15rem;
  }
  #editDescriptionForm {
    width: 100%;
  }
  body > div.container.card-container > div {
    width: 100%;
  }
  .card2 {
    flex-direction: column;
    width: 90%;
  }
  .nextPictures {
    width: 100%;
    margin-top: 1rem;
  }
  .table-container {
    max-width: 100%;
    padding: 0 1rem;
  }
  .popup-content {
    width: 80%;
  }
  .containerUsage {
    max-width: 90%;
  }
}

@media (max-width: 576px) {
  .carousel-item img {
    width: 10rem;
  }
  body > div.container.card-container > div {
    width: 90%;
  }
  .card2 {
    width: 100%;
  }
  th,
  td {
    font-size: 0.8rem;
    padding: 0.4rem;
  }

  .table-container img {
    width: 3rem;
  }
  .popup-content {
    width: 90%;
  }

  .btnYes,
  .btnNo {
    padding: 8px 16px;
  }
  .containerUsage {
    padding: 0.5rem;
  }
}

@media (max-width: 1024px) {
  .containerUsage {
    padding: 1rem;
  }
}
